##############################
## Java Project Ignores Files 
##############################

## Mobile Tools (J2ME)
.mtj.tmp/

## Package Files
*.class
*.jar
*.war
*.ear
*.nar
*.zip
*.tar.gz
*.rar
*.iml
*.idea
*.swp
*~

## Maven
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
pom.xml.bak
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

.mvn
*.classpath
*.project
*.settings
/bin/*
/target/*
/target/
target/

## Gradle
bin/
build/
/build
.gradle
.gradletasknamecache
gradle-app.setting
!gradle-wrapper.jar


####################
##  IDE And Editors
####################

## Netbeans
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

## Eclipse
.settings/
bin/
tmp/
.metadata
.classpath
.project
*.tmp
*.bak
*.swp
*~.nib
local.properties
.loadpath
.factorypath

## JetBrains IDEs
.idea/
*.iml

## IntelliJ
out/
.idea/
.idea_modules/
*.iml
*.ipr
*.iws

## Visual Studio Code
.vscode/
.code-workspace
.classpath
.project
.settings/

#########################

##Troubleshooting System Crashes logs
hs_err_pid*

## OS X
.DS_Store

#spring
.springBeans

## BlueJ Files
.ctxt

## Log file
*.log

#Folder config file
Desktop.ini

#Recycle Bin used on file shares
$RECYCLE.BIN/

#Extra Folders
/unused
**/.DS_Store